[package]
name = "bcc"
version = "0.0.1"
authors = ["Julia Evans <julia@jvns.ca>"]

[dependencies]
libc = "0.2.36"
bcc-sys = "0.5.0"
failure = "0.1.1"
regex = "0.2.5"
lazy_static = "1"
byteorder = "1"
